.todo {
	width: 100%;
	display: flex;
	padding: 10px 0 10px;
	flex-direction: column;

	&__form-wrapper {
		display: flex;
		flex-direction: row;

		&__title {
			margin-right: 10px;
			margin-bottom: 8px;
		}
	}

	&__actions {
		display: flex;
		align-items: flex-end;

		&__edit {
			margin-right: 10px;
		}
	}
}
