.add-todo-wrapper {
	display: flex;
	flex-direction: column;
	margin: 8px;

	@include query (mobile){
    width: 100%;
		display: flex;
		justify-content: space-between;
  }

	&__error {
		font-size: 12px;
		color: red;
	}
}
.add-todo {
	display: flex;
	flex-direction: row;
	width: 500px;

	@include query (mobile){
    width: 100%;
		margin: 8px 0 9px
  }

	&__input-wrapper {
		width: 80%;
	}

	&__submit-button {
		width: 18%;
		margin-left: 10px;
		cursor: pointer;

		&:disabled {
			cursor: not-allowed;
		}
	}
}